<div>
    <section>
        <div style="display: flex; justify-content: space-between; align-items: center;">
          <h1 class="titleTop">Datos del Perfil</h1>
        </div>
        <div style="background-color: black;" class="formDiv">
          <div class="topDetails">
            <div style="color: white; display: flex; flex-direction: column; justify-content: center" class="datosDetails">
              <h2>Nombre de la Startup:</h2>
              <h5>- {{ this.userInformation.name.toUpperCase() }}</h5>
            </div>
            <div class="imgDetails flex flex-col items-center">
              <h2 class="text-center">Foto de perfil</h2>
              <img
                *ngIf="this.userInformation.imageUrl != ''"
                [src]="this.userInformation.imageUrl"
                alt="Tu Perfil"
              />
              <img
                *ngIf="this.userInformation.imageUrl == ''"
                src="./../../assets/avatarBlanco.png"
                alt="Tu Perfil"
              />
            </div>
          </div>
          <div class="descriptionDetail mt-4">
            <h2 class="topMargin">Descripción</h2>
            <p class="small">
              {{ this.userInformation.description }}
            </p>
            <h2 class="topMargin">Habilidades: </h2>
            <div class="skillsList flex gap-2">
              <p class="indiText" *ngFor="let skill of skills">
                {{ skill.name }}
              </p>
            </div>
            <h2 class="topMargin">Correo de contacto: 
              <p style="display: inline;" class="small">{{ this.userInformation.businessEmail }}</p>
            </h2>
            <h2>Número de contacto: <h5 style="display: inline; font-family: var(--text-font);">
              {{ this.userInformation.corpNumber }}</h5>
            </h2>
          </div>
        </div>
  </section>
</div>