<section
  [ngClass]="this.isAny.imageUrl"
  style="width: 100vw; display: flex; flex-direction: column; justify-content: center; align-items: center;"
  class="Message"
>
  <p style="text-align: center; color: white;" class="texto">
    <ng-content></ng-content>
  </p>
  <small
    *ngIf="this.isAny.isText"
    class="TextStartup text-3xl text-white font-medium"
  >Comienza tu propia Startup</small
  >
  <div routerLink="/memberships" routerLinkActive="active"
  ><px-button
    *ngIf="this.isAny.isButton"
    class="Message--text text-3xl"
    [color]="buttonColor"
  >
    Regístrate</px-button
  ></div
  >
</section>