<div>
    <div
    style="display: flex; flex-direction: column; row-gap: 10px;
    align-items: center; justify-content: space-between;
    padding-top: 50px; padding-bottom : 50px;"
    class="
        list-container
      "
  >
    <h1 class="homeTextTitle">Empresarios Destacados</h1>
    <px-ancle-list [users]="entrepreneurs"></px-ancle-list>
    <h1 class="homeTextTitle">Freelancers Destacados</h1>
    <px-ancle-list [users]="freelancers"></px-ancle-list>
    <h1 class="homeTextTitle">Inversores Destacados</h1>
    <px-ancle-list [users]="investors"></px-ancle-list>
  </div>
</div>