<section style = "display: flex; flex-direction: column; justify-content: center; width: 100vw;" class="principal">
  <h2 class="principal-title">Tu éxito empieza <br />con nosotros</h2>
  <p style = "margin-top: 10px; padding-top: 15px; padding-bottom: 15px;"class="principal-text fs-4">
    Conecta con inversores, freelancers y potencia tu empresa, conecta con
    empresas y busca donde trabajar, conecta con emprendimientos y busca donde
    invertir. Nosotros te ayudaremos a hacerlo
  </p>
  <div routerLink="/signup" routerLinkActive="active"
  ><px-button class="text-2xl" [color]="buttonColor">
    Regístrate
  </px-button></div
  >
</section>
