.FirstText {
}
h1 {
  font-family: var(--principal-font);
}
p {
  font-family: var(--text-font);
}
@media only screen and (max-width: 768px) {
  .FirstText {
    gap: 20px !important;
  }
  h1 {
    font-size: 30px !important;
  }
  p {
    font-size: 15px !important;
  }
}
@media only screen and (max-width: 580px) {
  .FirstText {
    flex-direction: column !important;
  }
  .textAbout {
    padding: 38px 45px !important;
  }
}