<div style="display: flex; flex-direction: column; align-items: center; ">
    <px-message [isAny]="noButton">Buscando conectar tus ideas y trabajos con otras personas</px-message>
    <section style="width: 100vw;">
      <p style="font-size: 18.75px; font-family: var(--text-font); 
      line-height: 22.5px; padding-left: 80px; padding-right: 80px; padding-top: 60px; 
      padding-bottom: 60px;">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
        voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
        <br /><br />
        Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
        sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
        diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
        erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
        ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
        ipsum dolor sit amet.
        <br /><br />
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
        voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
        amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
        nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
        sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
        rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
        ipsum dolor sit amet.
      </p>
    </section>
    <section
        style="background: url('../../assets/messageBackground-6.png'); display: flex; flex-direction: column; 
        justify-content: center; align-items: center; width: 100vw; 
            background-size: 1500px auto;
            background-position: center;
            height: 500px;
            font-family: var(--principal-font);
            font-size: 70px;
            line-height: 1;"  
    >
        <p style="color: white; text-align: center; 
        padding: 0 200px;">
            "En 2NEL encontré la oportunidad para crecer
            profesionalmente"
        </p>
    </section>
    <section
        style="display: flex; justify-content: space-around; align-items: center; padding: 2.5rem; gap: 8rem; text-align: justify;"
    >
      <div style="display: flex; flex-direction: column; align-items: center;">
        <h1 style="font-family: var(--principal-font); 	font-weight: 700; font-size: 37.5px;
        line-height: 1;">Nuestra misión</h1>
        <p style="font-family: var(--text-font); font-size: 15px;
        line-height: 20px; padding: 15px;" >
          Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
          dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
          elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
          magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
          justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea.
        </p>
      </div>
      <div style="display: flex; flex-direction: column; align-items: center;">
        <h1 style="font-family: var(--principal-font); 	font-weight: 700; font-size: 37.5px;
        line-height: 1;">Nuestra visión</h1>
        <p style="font-family: var(--text-font); font-size: 15px;
        line-height: 20px; padding: 15px;" >
          Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
          dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
          elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
          magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
          justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea.
        </p>
      </div>
    </section>
    <section
        style="background: url('../../assets/messageBackground-4.png'); display: flex; flex-direction: column; 
        justify-content: center; align-items: center; width: 100vw; 
            background-size: 1500px auto;
            background-position: center;
            height: 500px;
            font-family: var(--principal-font);
            font-size: 70px;
            line-height: 1;"  
    >
        <p style="color: white; text-align: center; 
        padding: 0 200px;">
            El éxito llega cuando tus sueños son más grandes que tus
            excusas
        </p>
        <px-button [color]="'black'">Regístrate</px-button>
    </section>
  </div>
