<div style="width: 100vw; box-sizing: border-box;	margin-left: 0px; margin-right: 0px; padding-left: 0px; padding-right: 0px;">
  <section [ngClass]="modalView ? 'blur' : ''" style="width: 100vw; display: grid; box-sizing: border-box;">
    <img src="../../../assets/loginImage.png" alt="InicioImg" />
    <article style="box-sizing: border-box; padding: 100px; padding-bottom: 50px; display: flex; flex-direction: column; justify-content: space-between;"
      class="login--container"
    >
      <h1>Iniciar Sesión</h1>
      <form style="	margin-top: 25px;" class="">
        <label>E-mail</label>
        <input [(ngModel)]="username" id="emailForm" type="text" name="username" />
        <label>Contraseña</label>
        <input
        [(ngModel)]="password"
          id="passwordForm"
          type="password"
          name="password"
        />
        <div style="margin-right: 25px; margin-top: 25px;" class="goPrincipalButton">
          <px-button
            (click)="sumbitLogin()"
            style="	font-size: 15px; line-height: 20px;"
            class=""
            [color]="buttonColor"
          >Iniciar Sesión</px-button
          >
        </div>
        <p *ngIf="noData" style="text-align: right; margin-right: 30px; 	--tw-text-opacity: 1;
            color: rgba(220, 38, 38, var(--tw-text-opacity)); margin: 0px;" class="">
          Por favor ingrese todos los datos
        </p>
      </form>
      <div class="container--alarms">
        <p>
          ¿No tienes cuenta?
          <routerLink class="withHover" routerLink="/login" routerLinkActive="active">
            Regístrate
          </routerLink>
        </p>
        <p>
          ¿Olvidaste tu contraseña?
          <a class="withHover" (click)="toggleModal">
            Recupera tu contraseña
          </a>
        </p>
      </div>
    </article>
  </section>
  <div
    *ngIf="modalView"
    style="display: flex; justify-content: center; align-items: center; width: 100vw; "
    class="emailModal shadow"
  >
    <div style="padding: 15px; display: flex; flex-direction: column;	justify-content: center;" class="content--container">
      <input
        id="emailRecoveringPassword"
        class="inputDiv"
        type="email"
        placeholder="Ingrese su correo electrónico"
      />
      <div class="button-container">
        <p 
        style="margin: 0px;" class="volverAncle" (click)="toggleModal">Volver</p>
        <px-button
          style="	font-size: 15px; line-height: 20px;"
          class="buttonListo"
          [color]="buttonColor"
        >Listo</px-button
        >
      </div>
      <p style="--tw-text-opacity: 1; color: rgba(220, 38, 38, var(--tw-text-opacity)); margin: 0px;" *ngIf="noEmail" class="">
        Por favor ingrese un email
      </p>
    </div>
  </div>
</div>
