<div>
  <px-principal></px-principal>
    <section
        style="background: url('../../../assets/messageBackground-4.png'); display: flex; flex-direction: column;
        justify-content: center; align-items: center; width: 100vw;
            background-size: 1500px auto;
            background-position: center;
            height: 500px;
            font-family: var(--principal-font);
            font-size: 70px;
            line-height: 1;"
    >
        <p style="color: white; text-align: center;
        padding: 0 200px;">
            El éxito llega cuando tus sueños son más grandes que tus
            excusas
        </p>
        <button

            class="button black"
        >
            <p  style="margin: 0">
                Regístrate
            </p>
        </button>
    </section>
</div>


