<header class="shadow">
  <nav *ngIf="getRoute != '/principal' &&
  getRoute != '/solicitudes' &&
  getRoute != '/profile' "
      >
    <nav
      style="display:flex; align-items: center;	justify-content: space-between;	flex-wrap: wrap;
      background-color: white;	padding: 15px;"
      class="inOff"
    >
      <div style ="display:flex; align-items: center; flex-shrink: 0; 	--tw-text-opacity: 1;
       color: rgba(0, 0, 0, var(--tw-text-opacity)); margin-right: 15px;" class="theImage">
        <px-icon style="margin-right: 5px;"> </px-icon>
        <h3
          routerLink="/home" routerLinkActive="active"
          style="	margin:0; font-size: 18.75px; line-height: 22.5px; 	font-weight: 600;"
          class="header--title"
        >2NEL</h3
        >
      </div>
      <div class="navBig">
        <div style="display:flex;	gap: 20px; align-items: center;  margin-right: 10px;">
          <p style="margin:0" routerLink="/about" routerLinkActive="active">Nosotros</p>
          <p style="margin:0" routerLink="/memberships" routerLinkActive="active">Membresías</p>
          <p style="margin:0" routerLink="/login" routerLinkActive="active">Iniciar Sesión</p>
          <p style="margin:0" routerLink="/signup" routerLinkActive="active"
          ><px-button style="font-size: 12.5px; line-height: 17.5px;" class="theButton " [color]="buttonColor">
            Regístrate
          </px-button></p
          >
        </div>
      </div>
      <div class="navSmall">
        <div (click)="navToggle" class="menu-btn">
          <div class="menu-btn__burger"></div>
        </div>
        <div
          *ngIf="navAppears"
          style=" width: 100vw; display:flex;	flex-direction: column; align-items: center;"
          class="theNav"
        >
          <p class="itemNav" routerLink="/about" routerLinkActive="active"
          >Nosotros</p
          >
          <p class="itemNav" routerLink="/memberships" routerLinkActive="active"
          >Membresías</p
          >
          <p class="itemNav" routerLink="/login" routerLinkActive="active"
          >Iniciar Sesión</p
          >
          <p class="itemNav" routerLink="/signup" routerLinkActive="active"
          >Regístrate</p
          >
        </div>
      </div>
    </nav>
  </nav>
  <nav
    *ngIf="getRoute == '/principal' ||
        getRoute == '/solicitudes' ||
        getRoute == '/profile'
      "
      >
    <nav style="display:flex; align-items: center;	justify-content: space-between;	flex-wrap: wrap;
    background-color: white;	padding: 15px;"
      class="inOff"
    >
      <div style="display:flex;	align-items: center;	flex-shrink: 0;	margin-right: -15px;" class="theImage">
        <px-icon style=" margin-right: 5px;"></px-icon>
        <p
          routerLink="/principal" routerLinkActive="active"
          style="margin:0;  font-size: 18.75px; line-height: 22.5px; font-weight: 600;"
          class="header--title"
        >2NEL</p
        >
      </div>
      <div class="navBig">
        <div style="display:flex;	gap: 20px; align-items: center;	margin-right: 10px;">
          <p style="margin:0;"
            routerLink="/principal" routerLinkActive="active"
          >Inicio</p
          >
          <p style="margin:0;"
            routerLink="/principal" routerLinkActive="active"
          >Perfil</p
          >
          <img src="../../assets/iconLupa.png" alt="Lupa" />
          <div
            (click)="appearLabel()"
            style="display:flex; justify-content: center;	align-items: center; "
            class="theFoto"
          >
            <div>V</div>
            <div
              *ngIf="appearLabelBool"
              (click)="closeSesion()"
              class="CerrarSesion"
            >
              Cerrar Sesión
            </div>
          </div>
        </div>
      </div>
    </nav>
  </nav>
</header>
