
  <div style="width: 100vw;" class="membershipData">
    <div style="display: flex; justify-content: center; align-items: flex-end;"
      class="theImg"
      [ngClass]="
        numberImg == '1' ? 'first' : numberImg == '2' ? 'second' : 'third'
      "
    >
      <div style="--tw-bg-opacity: 1; background-color: rgba(0, 0, 0, var(--tw-bg-opacity)); display: flex;
        	flex-direction: column; padding-left: 25px; padding-right: 25px; padding-top: 15px; padding-bottom: 15px; justify-content: center;" class="theCard">
        <h1 class="theCardTitle">{{ this.title }}</h1>
        <p class="theCardText">{{ this.text }}</p>
      </div>
    </div>
    <div style="display: flex; 	gap: 25px; 	padding-left: 100px; padding-right: 100px; padding-top: 50px; padding-bottom: 50px;" class="cardsContainer">
      <px-card-membership [title]="'Free'" style="font-size: 15px; line-height: 20px; --tw-bg-opacity: 1;
       background-color: rgba(0, 0, 0, var(--tw-bg-opacity));" class="membresia">
        -30 tags para el perfil <br />
        -Visualizar más información de 5 StartUps que este elija <br />
        -30 perfiles de StartUps en favoritos <br />
        -Solicitudes con menor prioridad <br />
        -Sin foto de portada personalizada
      </px-card-membership>
      <px-card-membership [title]="'Pro'" style="font-size: 15px; line-height: 20px; --tw-bg-opacity: 1;
       background-color: rgba(0, 0, 0, var(--tw-bg-opacity)); "class="membresia">
        -50 tags para el perfil <br />
        -Visualizar más información de 10 StartUps que este elija <br />
        -60 perfiles de StartUps en favoritos <br />
        -Solicitudes con mayor prioridad <br />
        -Foto de portada personalizada
      </px-card-membership>
      <px-card-membership
        [title]="'Premium'"
        style="font-size: 15px; line-height: 20px; --tw-bg-opacity: 1;
       background-color: rgba(0, 0, 0, var(--tw-bg-opacity));"
        class="membresia"
      >
        -80 tags para el perfil <br />
        -Visualizar información número ilimitado de StartUps
        <br />
        -Número ilimitado de StartUps favoritas <br />
        -Solicitudes con máxima prioridad <br />
        -Foto de portada personalizada
      </px-card-membership>
    </div>
  </div>
