
.cardsContainer {
  width: 100vw;
  height: auto;
}
.membershipData {
  width: 100vw;
  height: 1100px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.theCard {
  width: 70vw;
  height: 210px;
}
.theImg {
  width: 100vw;
  height: auto;
  background-repeat: no-repeat;
}
.first {
  background-image: url("../../../assets/membership-1.png");
  background-size: 100vw auto;
}
.second {
  background-image: url("../../../assets/membership-2.png");
  background-size: 100vw auto;
}
.third {
  background-image: url("../../../assets/membership-3.png");
  background-size: 100vw auto;
}
h1 {
  font-family: var(--principal-font);
  font-size: 40px;
  color: white;
  text-align: center;
}
p {
  margin-top: 10px;
  font-family: var(--text-font);
  font-size: 16px;
  color: white;
  text-align: center;
}
@media only screen and (max-width: 1024px) {
  .membershipData {
    height: 900px;
  }
  .cardsContainer {
    padding: 20px 60px !important;
  }
  .membresia {
    font-size: 15px !important;
  }
}
@media only screen and (max-width: 768px) {
  .cardsContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .membresia {
    height: 300px;
  }
  .membershipData {
    height: 1400px;
    display: grid;
    grid-template-rows: 1fr 3fr;
  }
  .theCardTitle {
    font-size: 26px;
  }
  .theCardText {
    font-size: 15px;
  }
}
@media only screen and (max-width: 580px) {
  .cardsContainer {
    gap: 40px !important;
    padding: 10px !important;
  }
  .membresia {
    height: 300px;
  }
  .membershipData {
    height: 1400px;
    display: grid;
    grid-template-rows: 1fr 4fr;
  }
  .theCard {
    width: 80vw !important;
  }
  .theCardTitle {
    font-size: 22px;
  }
  .theCardText {
    font-size: 14px;
  }
}
